//////////////////////////////////////////////////
// ** Variables
//
$font-main: 'Rubik', 'Noto Sans JP', "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;

$color-main: #ffbe7e;
$color-white: #fff;
$color-black: #333;
$color-lightBlue: rgb(56, 99, 216);
$color-job-title:rgba(58,60,72,0.45);
$color-gray: rgba(darken($color-main, 60%), 0.08);

$color-txt: $color-black;
$color-bg: lighten($color-main, 22%);
$color-border: $color-gray;

$header-height-sp: 64px;
$gnav-width-sp: 240px;

//////////////////////////////////////////////////
// ** Mixin
//
