//////////////////////////////////////////////////
// ** Variables
//
$font-main: 'Rubik', 'Noto Sans JP', "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;

$color-main: #ffbe7e;
$color-white: #fff;
$color-black: #333;
$color-gray: rgba(darken($color-main, 60%), 0.08);

$color-txt: $color-black;
$color-bg: lighten($color-main, 22%);
$color-border: $color-gray;


//////////////////////////////////////////////////
// ** Mixin
//
