@import "settings";

$breakpoints: (
  "sm": "screen and (max-width: 400px)",
  "md": "screen and (max-width: 768px)",
  "lg": "screen and (max-width: 1000px)",
  "xl": "screen and (max-width: 1200px)",
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/*
** Utility
** Header
** Gnav
** Footer
** Main Common
** Top
*/

/*==================================================

** Utility
==================================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
  //border: 1px solid red;
  font-size: 10px;
}

body {
  color: $color-txt;
  font-family: $font-main;
  font-weight: 400;
  position: relative;
  -webkit-text-size-adjust: 100%;
  font-family: $font-main;
}

img {
  width: 100%;
  height: auto;
}

.wrap {
  max-width: 90rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.wrap--sec {
  @extend .wrap;
  padding-top: 40px;
  padding-bottom: 40px;
}

/*==================================================

** Header
==================================================*/
.header {
  background-color: $color-main;
  .header-inner {
    max-width: 120rem;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .header-logo {
    max-width: 22rem;
    //width: 25vw;

    margin: auto;
    line-height: 1;

    a {
      display: inline-block;
      padding: 1rem 0.5rem;
    }
    &:hover {
      background-color: $color-white;
      opacity: 0.7;
    }
  }
}

/*==================================================

** Gnav
==================================================*/
.gnav {
  width: 50vw;
  min-width: 30rem;
  height: 100%;
  margin: auto;
  text-align: center;

  .gnav__list {
    max-width: 45rem;
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  .gnav__item {
    width: 100%;
    border-left: 1px solid $color-white;
    a {
      font-size: 1.6rem;
      padding: 0.2rem 0.5rem;
      text-decoration: none;
      color: $color-black;
      display: inline-block;
      width: 100%;
    }
    &:hover {
      background-color: $color-white;
      opacity: 0.7;
      transition: ease-out 0.2s;
    }
  }
  .gnav__item:last-child {
    border-right: 1px solid $color-white;
  }
}

/*==================================================

** nav-toggle
==================================================*/

/*==================================================

** Footer
==================================================*/
.footer {
  background-color: $color-black;

  .wrap {
    display: flex;
    .footer-left {
      flex: 50%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      text-align: center;
      color: $color-white;
      padding-right: 0.5rem;
      border-right: 1px solid $color-white;
      border-left: 1px solid $color-white;

      .footer-logo {
        min-width: 12rem;
        max-width: 20rem;
        width: 100%;
        margin: auto;
        position: relative;

        //適当に入れた
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: blue;
          opacity: 0.5;
          display: block;
        }
      }

      .copyright {
        display: block;
        font-size: 1.6rem;
      }
    }

    .footer-right {
      flex: 50%;
       border-right: 1px solid $color-white;
    }

    .footer-nav {
      width: 100%;
      text-align: center;
      .footer-nav__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0.5rem;
      }
    }
  }
}
.footer-nav__item {
  width: 50%;
  margin: 0.1rem auto;
  a {
    font-size: 1.6rem;
    padding: 0.3rem 0.5rem;
    text-decoration: none;
    color: $color-white;
    display: inline-block;
    &:hover {
      color: $color-lightBlue;
      opacity: 0.7;
      transition: ease-out 0.2s;
    }
  }
}
/*==================================================

** Main Common
==================================================*/
.main {
  p {
    + p {
    }
  }

  ul {
    li {
    }
  }

  ol {
    li {
    }
  }

  table {
    th,
    td {
    }
    th {
    }
    td {
    }
  }

  h2,
  h3,
  h4,
  h5 {
  }
  h2 {
  }
  h3 {
  }
  h4 {
  }
  h5 {
  }
  h6 {
  }
}

/*==================================================

** Top
==================================================*/
#top {
  //////////////////////////////////////////////////
  // ** Profile
  //
  .profile {
  }

  //////////////////////////////////////////////////
  // ** Skills
  //
  .skills {
  }
}
