@import "settings";

$breakpoints: (
  "sm": "screen and (max-width: 400px)",
  "md": "screen and (max-width: 768px)",
  "lg": "screen and (max-width: 1000px)",
  "xl": "screen and (max-width: 1200px)",
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/*
** Utility
** Header
** Gnav
** Footer
** Main Common
** Top
*/

/*==================================================

** Utility
==================================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: $color-txt;
  font-family: $font-main;
  font-weight: 400;
  position: relative;
  -webkit-text-size-adjust: 100%;
}

img {
  width: 100%;
  height: auto;
}

.wrap {
  max-width: 900px;
  padding: 0 30px;
  margin: 0 auto;
}

.wrap--sec {
  @extend .wrap;
  padding-top: 40px;
  padding-bottom: 40px;
}

/*==================================================

** Header
==================================================*/
.header {
  .header-inner {
    max-width: 1200px;
    width: 100%;
    background-color: pink;
    margin: auto;
    position: relative;
    display: flex;
  }
  .header-logo {
    width: 15rem;
    height: auto;

    a {
      display: inline-block;
      width: 100%;
    }
  }
}

/*==================================================

** Gnav
==================================================*/
.gnav {
  width: 100vw;
  height: 100vh;
  background-color: $color-main;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  z-index: 999;
  text-align: center;
  font-size: 2rem;
  opacity: 0;
  transition-duration: 0.3s;
  transition-property: inherit;
  transition-timing-function: ease-out;

  a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 0;
    transition: color 0.6s ease-out;

    &:hover {
      color: #666;
    }
  }

  .gnav__list {
    position: relative;
    top: -3rem;
    list-style: none;
  }

  .gnav__item {
    opacity: 0;
    transform: translateX(200px);
    transition: transform 0.1s ease-out;

    &:nth-child(2) {
      transition-delay: 0.15s;
    }
    &:nth-child(3) {
      transition-delay: 0.3s;
    }
    &:nth-child(4) {
      transition-delay: 0.45s;
    }
  }
}

// .open {
//   overflow: hidden;

//   .gnav {
//     visibility: visible;
//     opacity: 0.9;

//     .gnav__item {
//       opacity: 1;
//       transform: translateX(0);
//       transition: transform 1s ease-out, opacity 0.9s ease;
//     }
//   }
// }

/*==================================================

** nav-toggle
==================================================*/

// #nav-toggle {
//   @include mq(md) {
//     position: fixed;
//     top: 1.5rem;
//     right: 1rem;
//     z-index: 1000;

//     cursor: pointer;

//     .menu-btn-inner {
//       position: relative;
//       width: 36px;
//       height: 38px;
//     }
//     span {
//       width: 100%;
//       height: 1px;
//       left: 0;
//       display: block;
//       background: #333;
//       position: absolute;
//       transition: transform 0.6s ease-in-out, top 0.5s ease;

//       &:nth-child(1) {
//         top: 6px;
//       }
//       &:nth-child(2) {
//         top: 19px;
//       }
//       &:nth-child(3) {
//         top: 32px;
//       }
//     }

//     &:hover span:nth-child(1) {
//       top: 10px;
//     }
//     &:hover span:nth-child(3) {
//       top: 29px;
//     }
//   }

//   @media screen and(min-width:400px) {
//     display: none;
//   }
// }

// .open {
//   #nav-toggle span {
//     background: #333;

//     &:nth-child(1) {
//       top: 19px;
//       transform: rotate(45deg);
//     }
//     &:nth-child(2) {
//       top: 19px;
//       width: 0;
//       left: 50%;
//     }
//     &:nth-child(3) {
//       top: 19px;
//       transform: rotate(-45deg);
//     }
//   }
// }

/*==================================================

** Footer
==================================================*/
.footer {
}

/*==================================================

** Main Common
==================================================*/
.main {
  p {
    + p {
    }
  }

  ul {
    li {
    }
  }

  ol {
    li {
    }
  }

  table {
    th,
    td {
    }
    th {
    }
    td {
    }
  }

  h2,
  h3,
  h4,
  h5 {
  }
  h2 {
  }
  h3 {
  }
  h4 {
  }
  h5 {
  }
  h6 {
  }
}

/*==================================================

** Top
==================================================*/
#top {
  //////////////////////////////////////////////////
  // ** Profile
  //
  .profile {
  }

  //////////////////////////////////////////////////
  // ** Skills
  //
  .skills {
  }
}
