@import "settings";

/*
** Utility
** Header
** Gnav
** Footer
** Main Common
** Top
*/

/*==================================================

** Utility
==================================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: $color-txt;
  font-family: $font-main;
  font-weight: 400;
  position: relative;
  -webkit-text-size-adjust: 100%;
}

img {
  width: 100%;
  height: auto;
}

.wrap {
  max-width: 900px;
  padding: 0 30px;
  margin: 0 auto;
}

.wrap--sec {
  @extend .wrap;
  padding-top: 40px;
  padding-bottom: 40px;
}

/*==================================================

** Header
==================================================*/
.header {

}

/*==================================================

** Gnav
==================================================*/
.gnav {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: $color-main;
  position: fixed;
  top: 0;
  left: 0;
}

/*==================================================

** Footer
==================================================*/
.footer {

}

/*==================================================

** Main Common
==================================================*/
.main {

  p {
    + p {

    }
  }

  ul {
    li {
    }
  }

  ol {
    li {
    }
  }

  table {
    th,
    td {
    }
    th {
    }
    td {
    }
  }

  h2,
  h3,
  h4,
  h5 {
  }
  h2 {
  }
  h3 {
  }
  h4 {
  }
  h5 {
  }
  h6 {
  }
}

/*==================================================

** Top
==================================================*/
#top {
  //////////////////////////////////////////////////
  // ** Profile
  //
  .profile {
  }

  //////////////////////////////////////////////////
  // ** Skills
  //
  .skills {
  }
}